@charset "utf-8";

/* container */
#container{display:block;position:static;z-index:50;width:100%;padding-top:5vw;font-size:0;line-height:0;box-sizing:border-box;transition-property:padding-top;transition-duration:400ms;transition-timing-function:cubic-bezier(.52,.08,.04,1.18);}
.wheel_start #container{padding-top:10vw;}
.deco_box{display:block;position:absolute;top:0;left:0;width:100%;height:15vw;font-size:0;line-height:0;box-sizing:border-box;text-align:left;overflow:hidden;transform:translateY(0px);transition-property:transform;transition-duration:400ms;transition-timing-function:cubic-bezier(.52,.08,.04,1.18);}
.wheel_start .deco_box{transform:translateY(-100%);}
.deco_box .deco_inner{display:inline-block;position:relative;top:50%;transform:translateY(-50%);width:250%;font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;}
.deco_box .deco_inner .deco_text{display:inline-block;position:relative;font-size:8vw;color:#fff;line-height:1em;letter-spacing:0em;vertical-align:top;box-sizing:border-box;text-shadow:-5px -5px 0 rgba(19, 235, 217, 0.3), 5px 5px 0 rgba(0, 0, 0, 0.2);transition-property:font-size, line-height, letter-spacing;transition-duration:800ms;transition-timing-function:cubic-bezier(.52,.08,.04,1.18);}
.wheel_start .deco_box .deco_inner .deco_text{font-size:0vw;line-height:0em;letter-spacing:-0.01em;}

.pofol{display:block;position:static;width:100%;height:100%;font-size:0;line-height:0;box-sizing:border-box;}
.pofol .pofol_list{display:block;position:static;width:100%;box-sizing:border-box;}
.pofol .pofol_list .pofol_item{display:block;position:static;width:100%;font-size:0;line-height:0;box-sizing:border-box;text-align:center;}
.pofol .pofol_list .pofol_item + .pofol_item{margin-top:-10%;}
.pofol .pofol_list .pofol_item .link_item{display:inline-block;position:static;width:35%;vertical-align:top;box-sizing:border-box;}
.pofol .pofol_list .pofol_item .link_item + .link_item{margin-left:-7%;}
.pofol .pofol_list .pofol_item .link_item:first-child{z-index:3;margin-left:0;}
.pofol .pofol_list .pofol_item .link_item:nth-child(2){z-index:2;}
.pofol .pofol_list .pofol_item .link_item:nth-child(3){z-index:1;}
.pofol .pofol_list .pofol_item .link_item[data-link-type="1"]{margin-top:5%;}
.pofol .pofol_list .pofol_item .link_item[data-link-type="2"]{margin-top:28%;}
.pofol .pofol_list .pofol_item .link_item[data-link-type="3"]{margin-top:8%;}

.pofol .pofol_list .pofol_item .link_item .link_btn{display:block;width:100%;min-height:30vw;border:0;background-color:transparent;font-size:0;line-height:0;box-sizing:border-box;box-shadow:3px 3px 10px rgba(96, 2, 68, 0.7);transition-property:background-color, border-radius, box-shadow;transition-duration:400ms;transition-timing-function:cubic-bezier(.52,.08,.04,1.18);}
.pofol .pofol_list .pofol_item .link_item[data-link-type="1"] .link_btn{background-color:rgba(202, 7, 72, 0.7);border-radius:30px 30px 30px 30%;}
.pofol .pofol_list .pofol_item .link_item[data-link-type="2"] .link_btn{background-color:rgba(202, 7, 72, 0.5);border-radius:30px 30% 30px 30px;}
.pofol .pofol_list .pofol_item .link_item[data-link-type="3"] .link_btn{background-color:rgba(202, 7, 72, 0.3);border-radius:30px 30% 30px 30px;}
.wheel_start .pofol .pofol_list .pofol_item .link_item .link_btn{border-radius:30px;box-shadow:3px 3px 10px rgba(208, 6, 0, 0.7);}
.wheel_start .pofol .pofol_list .pofol_item .link_item[data-link-type="1"] .link_btn{background-color:rgba(237, 47, 13, 0.7);}
.wheel_start .pofol .pofol_list .pofol_item .link_item[data-link-type="2"] .link_btn{background-color:rgba(237, 47, 13, 0.5);}
.wheel_start .pofol .pofol_list .pofol_item .link_item[data-link-type="3"] .link_btn{background-color:rgba(237, 47, 13, 0.3);}